<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
    <style>
        body{
            display:inline-block;
            
        }
        nav{
            display: flex;
            flex-direction: row;
            background: purple;
            padding-top:0;
            padding-bottom:0;
        }
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            background-color: greenyellow;
            padding:10px;
            margin:0;
            
        }
        li{
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact Us</li>
        </ul>       
    </nav>
    <!-- // Tools -->
    <div class="container">
        <span class="tool"></span>
        <span class="tool"></span>
        <span class="tool"></span>
        <span class="tool"></span>
        <span class="tool"></span>
        <span class="tool"></span>
    </div>
</body>
</html>