<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,body{
            background-color: blueviolet;
            padding:0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-content: center;
        }   
        div{
            border: 2px solid purple;
            border-radius: 10px;
            background: rgba(rgb(170, 74, 170),rgb(203, 69, 203),rgb(177, 56, 177),rgba(174, 164, 164, 0.476));
        }
    </style>
</head>
<body>
    <center>Welcome </center>
    <div>Hey ! This Is Something New For You </div>
    <div><img src="../img/node.png" alt="img"></div>
</body>
</html>