<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body{
            background-color: blueviolet;
        }
    </style>
</head>
<body style="background-color: #1f1924;">
    <nav>
        <div id="icon">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div> 
        <div id="head">Project mytools</div>
    </nav>
    <div class="container">
        <div class="box"><div class="mytool one" style="background-size: 100% 100%;" onclick="location.href='https://replit.com/~'"></div><p class="desc">Replit</p></div>
        <div class="box"><div class="mytool two" style="background-size: 100% 100%;" onclick="location.href='https://chat.openai.com/chat'""></div><p class="desc">ChatGPT</p></div>
        <div class="box"><div class="mytool three" style="background-size: 100% 100%;" onclick="location.href='https://chat.openai.com/chat'"></div><p class="desc">DOCS</p></div>
        <div class="box"><div class="mytool four" style="background-size: 100% 100%;" onclick="location.href='https://getbootstrap.com/'"></div><p class="desc">BootStrap</p></div>
        <div class="box"><div class="mytool five" style="background-size: 100% 100%;" onclick="location.href='https://www.youtube.com/'"></div><p class="desc">Youtube</p></div>
        <div class="box"><div class="mytool six" style="background-size: 100% 100%;" onclick="location.href='https://github.com/'"></div><p class="desc">Github</p></div>
        <div class="box"><div class="mytool seven" style="background-size: 100% 100%;" onclick="location.href='https://chat.openai.com/chat'"></div><p class="desc">CodePen</p></div>
        <div class="box"><div class="mytool eight" style="background-size: 100% 100%;" onclick="location.href='https://codepen.io/'"></div><p class="desc"></p></div>
        
    </div>
</body>
</html>