.courses {
    max-height: fit-content;
    padding: 2rem;
    margin-top: 10rem;
}

.course__videos__container {
    margin-top: 2rem;
    width: 80vw;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: auto;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 2rem;
    height: auto;
    margin: 1rem auto;
}

.video {
    background: var(--color-bg2);
    width: 30%;
    height: 20rem;
    display: grid;
    grid-template-rows: 85% 15%;
    border: 3px solid transparent;
    cursor: pointer;
    border-radius: 4%;
}

.video:hover {
    border-color: rgb(52, 84, 226);
}

.video__title {
    display: flex;
    width: 100%;
    align-items: center;
}

.video__title p {
    font-size: 1.2rem;
    padding: 5px 0 0 5px;
    display: inline;
    /* position: relative;
     */
}

.uil-play {
    /* width: fit-content;
     border-radius: 50%;
     padding: .9rem;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     background: var(--color-danger);
     */
    align-self: flex;
    background-color: var(--color-danger);
    padding: 0.2rem 0.5rem;
    margin: auto 0.7rem;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
}

.video__banner {
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    transition: all 3ms ease-in-out linear;
}

.video__banner:hover img {
    transform: scale(1.1);
    cursor: pointer;
}
.video__title{
    background: #121036;
    height: 100%;
    /* padding:0.6rem 2rem; */
    border-radius: 0 0 0.7rem 0.7rem;
}
.last__video {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(10px) saturate(-1);
}


/* Upload Shortcut Btn */

.upload__tutorial {
    position: fixed;
    bottom: 6rem;
    right: 3rem;
    font-size: 1.8rem;
    background-color: #00bf8e;
    padding: 3rem;
    /* border-radius: 50%;
    padding: 1rem;
    display: flex;
    place-items: center;
    width: fit-content;
    height: 3.5rem;
    z-index: 10;
    border: 2px solid transparent;
    transition: var(--transition); */
}

.upload__tutorial:hover {
    cursor: pointer;
    border-color: var(--color-white);
    transform: scale(1.1);
    background-color: var(--color-warning);
    color: var(--color-black);
    box-shadow: 0 0 3rem rgb(113, 37, 255);
}

@media only screen and (max-width:1200px) {
    .course__videos__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .video {
        width: 40%;
    }
}

@media only screen and (max-width:700px) {
    .video {
        width: 100%;
    }
}