head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title StudyGears
  // IconCout
  link(rel='stylesheet', href='https://unicons.iconscout.com/release/v4.0.0/css/line.css')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  // Swiper JS
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
  // G Fonts
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/admin.css')
  style.
    .courses {
    margin-top: 1rem;
    }
    .course__image {
    overflow: hidden;
    transition: all 7s ease-in-out;
    }
    .course__image:hover img {
    transform: scale(1.1);
    }
// Navbar
nav
  .container.nav__container
    a.nav__icon(href='  index.html')
      h2 StudyGears
    .coins__head
      img.coins__icon(src='./../images/coinMe_prev_ui (2).png', alt='')
      p.coins__value $1000
    ul.nav__menu
      li
        a(href='/index.html') Home
      li
        a(href='/courses.html') Courses
      li
        a(href='/about.html') About
      li
        a(href='/contact.html') Contact
    button#open-menu-btn
      i.uil.uil-bars
    button#close-menu-btn
      i.uil.uil-multiply
// Popular Courses
section.courses
  h2  Free Courses
  .container.courses__container
    -for(course of courses){
      article.course
        .course__image
          img(src=course.course_banner, alt='Drive Image')
        .course__info
          h4=course.course_name
          p=course.course_description
          a.btn.btn-primary(href='/courses/'+course._id) Let's Get This
    -}
// Footer
footer.footer
  .container.footer__container
    .footer-1
      h4
        a.footer__logo(href='') Studygears
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, at.
    .footer-2
      h4 Permalinks
      ul
        li
          a(href='index.html') Home
        li
          a(href='courses.html') Cureses
        li
          a(href='about.html') About
        li
          a(href='contact.html') Contact Us
    .footer-3
      h4 Privacy
      a(href='') Privacy Policy
      a(href='') Terms And Conditions
      a(href='') Secuity Policy
    .footer-4
      h4 Contact Us
      div
        p
        p +91-7507546319
        p projectaavs.cpp@gmail.com
        p
      ul.footer__social
        li
          a(href='#')
            i.uil.uil-instagram
        li
          a(href='#')
            i.uil.uil-github
        li
          a(href='#')
            i.uil.uil-facebook-f
  .footer__copyright
    small Copright &copy; StudyGears 

-if(post){
  session.post__details__container
    h2 Course Details 
      a.btn-primary.uil.uil-multiply(href='/courses', style='float: right;')
    .cource__details
      form.auth_form(action='./courses', method='post')
        label.admin__label(for='name') Course Name
        .admin__email.admin__field
          i.uil.uil-meeting-board
          input.admin__info(type='text', name='course_name', placeholder='Your Course Title', required='')
        label.admin__label(for='name') Course Description
        .admin__pass.admin__field
          i.uil.uil-key-skeleton
          input.admin__info(type='text', name='course_description', placeholder='Course Desc', required='')
        label.admin__label(for='name') Course Drive Link
        .admin__pass.admin__field
          i.uil.uil-link
          input.admin__info(type='text', name='course_link', placeholder='1X-p53L-M_aH6iE7hblGhFLvk4rLNj3Tr', required='')
        label.admin__label(for='name') Author Name
        .admin__pass.admin__field
          i.uil.uil-book-reader
          input.admin__info(type='text', name='course_author', placeholder='1X-p53L-M_aH6iE7hblGhFLvk4rLNj3Tr', required='')
        button.btn.btn-primary.admin__btn(type='submit') Create Course
-}

// Global Chat Icon
.chat__mint(onclick="https://dupli-dupli-to-do-databse-vinod.musaleshubham7.repl.co'")
  i.uil.uil-comments-alt

// Add Course
a.uil.uil-plus.course__add(href='./courses?post=true')

// Login User Account
.user__login
  img(src='./images/user__logo.png', alt='')
// SWIPER JS
script(src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js')
script(src='main.js')
script.
  // Change Color On Scroll Window
  window.addEventListener('scroll', () => {
  document.querySelector('nav').classList.toggle('window-scroll', window.scrollY > 0)
  });
  // Show DropDownNavBar
  const menu = document.querySelector('.nav__menu');
  var menuBtn = document.querySelector('#open-menu-btn');
  var closeBtn = document.querySelector('#close-menu-btn');
  menuBtn.addEventListener('click', ()=>{
  menu.style.display = "flex";
  menuBtn.style.display = "none";
  closeBtn.style.display = "inline-block";
  });
  closeBtn.addEventListener('click', ()=>{
  menu.style.display = "none";
  menuBtn.style.display = "inline-block";
  closeBtn.style.display = "none";
  console.log("Hi");
  });
  
