<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <!-- IconCout  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <!-- G Fonts  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/about.css">

    <body>
        <!--  Header  -->
        <session class="dashboard">
            <div class="dash__menu">
                <div class="admin__info">
                    <img src="./images/user__logos.avif" class="round-radius" alt="">
                    <h3 class="username">Admin</h3>
                </div>
                <div class="menus">
                    <ul>
                        <li class="text-center dash__item"><a href="./dashboard?overview=true" class="dash__label">Overview</a></li>
                        <li class="text-center dash__item"><a href="./dashboard?courses=true" class="dash__label">Courses</a></li>
                        <li class="text-center dash__item"><a href="./dashboard?peoples=true" class="dash__label">Peoples</a></li>
                        <li class="text-center dash__item"><a href="./dashboard?peoples=true" class="dash__label">Send Updates</a></li>
                    </ul>
                </div>
            </div>
            <div class="dash__content">

                <!-- Overview -->
                <div class="container">
                    <h2 class="text-center">Overview</h2>
                    <div class="overview__container">
                        <article class="card achivement__card">
                            <div class="achivement__icon"><i class="uil uil-presentation-play"></i></div>
                            <h3>450+</h3>
                            <p>Courses</p>
                        </article>
                        <article class="card achivement__card">
                            <div class="achivement__icon"><i class="uil uil-user-circle"></i></div>
                            <h3>1000+</h3>
                            <p>Students</p>
                        </article>
                        <article class="card achivement__card">
                            <div class="achivement__icon"><i class="uil uil-user-circle"></i></div>
                            <h3>1000+</h3>
                            <p>Premium</p>
                        </article>
                    </div>
                </div>


                <!--  Courses -->
                <h2 class="text-center">Courses</h2>
                <div class="container courses__container">
                    <article class="course">
                        <div class="course__image">
                            <img src="./images/course_1.png" alt="" class="admin__course__image" />
                        </div>
                        <p>Python Course For Beginners
                            <small>- By Mosh</small>
                            <p>
                    </article>
                </div>

                <!-- Peoples -->
                <h2 class="text-center">Users</h2>
                <div class="peoples__list">
                    <div class="people__item">
                        <div class="people__image">
                        </div>
                        <div class="people__info">
                            <h2 class="people__name">Mosh</h2>
                            <p class="people__details">Score : 20$</p>
                        </div>
                    </div>
                </div>
                <div class="peoples__list">
                    <div class="people__item">
                        <div class="people__image">
                        </div>
                        <div class="people__info">
                            <h2 class="people__name">Mosh</h2>
                            <p class="people__details">Score : 20$</p>
                        </div>
                    </div>
                </div>
                <div class="peoples__list">
                    <div class="people__item">
                        <div class="people__image">
                        </div>
                        <div class="people__info">
                            <h2 class="people__name">Mosh</h2>
                            <p class="people__details">Score : 20$</p>
                        </div>
                    </div>
                </div>
                <div class="peoples__list">
                    <div class="people__item">
                        <div class="people__image">
                        </div>
                        <div class="people__info">
                            <h2 class="people__name">Mosh</h2>
                            <p class="people__details">Score : 20$</p>
                        </div>
                    </div>
                </div>
                <div class="peoples__list">
                    <div class="people__item">
                        <div class="people__image">
                        </div>
                        <div class="people__info">
                            <h2 class="people__name">Mosh</h2>
                            <p class="people__details">Score : 20$</p>
                        </div>
                    </div>
                </div>
            </div>
        </session>
        <script src="main.js"></script>
    </body>

</html>