<!DOCTYPE html>

<head>
          <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>StudyGears</title>
          <!-- IconCout  -->
          <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
          <link rel="preconnect" href="https://fonts.googleapis.com" />

          <!-- G Fonts  -->
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
          <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
                    rel="stylesheet" />


          <link rel="stylesheet" href="/css/style.css">
          <link rel="stylesheet" href="/css/focus.css">
</head>

<body>
          <!-- Navbar -->
          <nav>
                    <div class="container nav__container">
                              <a href="index.html" class="nav__icon">
                                        <h2>StudyGears</h2>
                              </a>
                              <div class="coins__head">
                                        <img class="coins__icon" src="./images/coinMe_prev_ui (2).png" alt="">
                                        <p class="coins__value">$1000</p>
                              </div>
                              <ul class="nav__menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="courses.html">Courses</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                              </ul>
                              <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
                              <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
                    </div>
          </nav>

          <!--  Header  -->

          <section class="focus">
                    <div class="focus__container container">
                              <h1 class="text-center">Let's Get Focus On Study</h1>
                              <div class="focus__buttons">
                                        <a href="./startFocus?time=30" class="focus__button focus__btn1">Half Hour</a>
                                        <a href="./startFocus?time=60" class="focus__button focus__btn2">One Hour</a>
                                        <a href="./startFocus?time=120" class="focus__button focus__btn3">Two Hours</a>
                                        <a href="./startFocus?time=180" class="focus__button focus__btn4">Three
                                                  Hours</a>
                              </div>
                    </div>
          </section>

          <!-- Footer  -->
          <footer class="footer">
                    <div class="container footer__container">
                              <div class="footer-1">
                                        <h4><a href="" class="footer__logo">Studygears</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, at.</p>
                              </div>
                              <div class="footer-2">
                                        <h4>Permalinks</h4>
                                        <ul>
                                                  <li>
                                                            <a href="index.html">Home</a>
                                                  </li>
                                                  <li>
                                                            <a href="courses.html">Cureses</a>
                                                  </li>
                                                  <li>
                                                            <a href="about.html">About</a>
                                                  </li>
                                                  <li>
                                                            <a href="contact.html">Contact Us</a>
                                                  </li>
                                        </ul>
                              </div>
                              <div class="footer-3">
                                        <h4>Privacy</h4>
                                        <a href="">Privacy Policy</a>
                                        <a href="">Terms And Conditions</a>
                                        <a href="">Secuity Policy</a>
                              </div>
                              <div class="footer-4">
                                        <h4>Contact Us</h4>
                                        <div>
                                                  <p></p>
                                                  <p>+91-7507546319</p>
                                                  <p>projectaavs.cpp@gmail.com</p>
                                                  <p></p>
                                        </div>
                                        <ul class="footer__social">
                                                  <li>
                                                            <a href="#">
                                                                      <i class="uil uil-instagram"></i>
                                                            </a>
                                                  </li>
                                                  <li>
                                                            <a href="#">
                                                                      <i class="uil uil-github"></i>
                                                            </a>
                                                  </li>
                                                  <li>
                                                            <a href="#">
                                                                      <i class="uil uil-facebook-f"></i>
                                                            </a>
                                                  </li>
                                        </ul>
                              </div>
                    </div>
                    <div class="footer__copyright">
                              <small>Copright &copy; StudyGears </small>
                    </div>
          </footer>

          <!-- Global Chat Icon -->
          <div class="chat__mint" onclick="location.href='https://trying-new-gchat.musaleshubham7.repl.co/'">
                    <i class="uil uil-comments-alt"></i>
          </div>

          <!-- Login User Account -->
          <div class="user__login">
                    <img src="./images/user__logo.png" alt="">
          </div>

          <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
          <!-- <script src="main.js"></script> -->
</body>
<script>
          // Change Color On Scroll Window
          window.addEventListener( 'scroll', () =>
          {
                    document.querySelector( 'nav' ).classList.toggle( 'window-scroll', window.scrollY>0 )
          } );

          // Show DropDownNavBar
          const menu=document.querySelector( '.nav__menu' );
          var menuBtn=document.querySelector( '#open-menu-btn' );
          var closeBtn=document.querySelector( '#close-menu-btn' );
          menuBtn.addEventListener( 'click', () =>
          {
                    menu.style.display="flex";
                    menuBtn.style.display="none";
                    closeBtn.style.display="inline-block";
          } );
          closeBtn.addEventListener( 'click', () =>
          {
                    menu.style.display="none";
                    menuBtn.style.display="inline-block";
                    closeBtn.style.display="none";
                    console.log( "Hi" );
          } );
</script>

</html>