<!DOCTYPE html>

<head>
          <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>StudyGears</title>
          <!-- IconCout  -->
          <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
          <link rel="preconnect" href="https://fonts.googleapis.com" />

          <!-- G Fonts  -->
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
          <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
                    rel="stylesheet" />


          <link rel="stylesheet" href="/css/style.css">
          <link rel="stylesheet" href="/css/focus.css" />
</head>

<body>
          <!-- Navbar -->
          <nav>
                    <div class="container nav__container">
                              <a href="index.html" class="nav__icon">
                                        <h2>StudyGears</h2>
                              </a>
                              <div class="coins__head">
                                        <img class="coins__icon" src="./images/coinMe_prev_ui (2).png" alt="">
                                        <p class="coins__value">$1000</p>
                              </div>
                              <ul class="nav__menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="courses.html">Courses</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                              </ul>
                              <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
                              <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
                    </div>
          </nav>

          <section class="focus">
                    <div class="start__focus__container container">
                              <input type="text" id="demo1">
                              <div class="growth__progress"></div>
                              <div class="buttons">
                                        <button onclick="startCount()" class="btn btn-primary">Start Focus</button>
                                        <button onclick="stopCount()" class="btn btn-primary">Stop count!</button>
                              </div>
                    </div>
          </section>

          <!-- Footer  -->
          <footer class="footer">
                    <div class="container footer__container">
                              <div class="footer-1">
                                        <h4><a href="" class="footer__logo">Studygears</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, at.</p>
                              </div>
                              <div class="footer-2">
                                        <h4>Permalinks</h4>
                                        <ul>
                                                  <li>
                                                            <a href="index.html">Home</a>
                                                  </li>
                                                  <li>
                                                            <a href="courses.html">Cureses</a>
                                                  </li>
                                                  <li>
                                                            <a href="about.html">About</a>
                                                  </li>
                                                  <li>
                                                            <a href="contact.html">Contact Us</a>
                                                  </li>
                                        </ul>
                              </div>
                              <div class="footer-3">
                                        <h4>Privacy</h4>
                                        <a href="">Privacy Policy</a>
                                        <a href="">Terms And Conditions</a>
                                        <a href="">Secuity Policy</a>
                              </div>
                              <div class="footer-4">
                                        <h4>Contact Us</h4>
                                        <div>
                                                  <p></p>
                                                  <p>+91-7507546319</p>
                                                  <p>projectaavs.cpp@gmail.com</p>
                                                  <p></p>
                                        </div>
                                        <ul class="footer__social">
                                                  <li>
                                                            <a href="#">
                                                                      <i class="uil uil-instagram"></i>
                                                            </a>
                                                  </li>
                                                  <li>
                                                            <a href="#">
                                                                      <i class="uil uil-github"></i>
                                                            </a>
                                                  </li>
                                                  <li>
                                                            <a href="#">
                                                                      <i class="uil uil-facebook-f"></i>
                                                            </a>
                                                  </li>
                                        </ul>
                              </div>
                    </div>
                    <div class="footer__copyright">
                              <small>Copright &copy; StudyGears </small>
                    </div>
          </footer>

          <!-- Global Chat Icon -->
          <div class="chat__mint" onclick="location.href='https://trying-new-gchat.musaleshubham7.repl.co/'">
                    <i class="uil uil-comments-alt"></i>
          </div>

          <!-- Login User Account -->
          <div class="user__login">
                    <img src="./images/user__logo.png" alt="">
          </div>

          <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
          <script src="main.js"></script>
</body>
<script>
          // Change Color On Scroll Window
          window.addEventListener( 'scroll', () =>
          {
                    document.querySelector( 'nav' ).classList.toggle( 'window-scroll', window.scrollY>0 )
          } );

          // Show DropDownNavBar
          const menu=document.querySelector( '.nav__menu' );
          var menuBtn=document.querySelector( '#open-menu-btn' );
          var closeBtn=document.querySelector( '#close-menu-btn' );
          menuBtn.addEventListener( 'click', () =>
          {
                    menu.style.display="flex";
                    menuBtn.style.display="none";
                    closeBtn.style.display="inline-block";
          } );
          closeBtn.addEventListener( 'click', () =>
          {
                    menu.style.display="none";
                    menuBtn.style.display="inline-block";
                    closeBtn.style.display="none";
                    console.log( "Hi" );
          } );

          console.log( 'okk' )
          var timeout
          var audio
          function countdown ( seconds )
          {
                    timeout=setInterval( () =>
                    {
                              seconds--;
                              if ( seconds<0 )
                              {
                                        clearInterval( timeout );
                                        // document.write("Time's up!");
                              } else
                              {
                                        // document.write(" Time remaining: "+ seconds +" seconds<br>"); 
                                        document.getElementById( "demo1" ).value=seconds;
                              }
                              if ( seconds<=seconds2&&seconds>=third )
                              {
                                        document.getElementsByClassName( 'growth__progress' )[ 0 ].style.background="url('/images/tree1.jpg')";
                                        console.log( 'tree1' )
                                        //           if(seconds == 46){
                                        //           var audio = new Audio('https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3');
                                        // audio.play();}

                              }
                              else if ( seconds<=third&&seconds>=fourth )
                              {
                                        document.getElementsByClassName( 'growth__progress' )[ 0 ].style.background="url('/images/tree2.jpg')";
                                        console.log( 'tree2' )

                              }
                              else if ( seconds<=third&&seconds>=fourth )
                              {
                                        document.getElementsByClassName( 'growth__progress' )[ 0 ].style.background="url('/images/tree2.jpg')";
                                        console.log( 'tree2' )

                              }
                              else if ( seconds<=fourth&&seconds>=fifth )
                              {
                                        document.getElementsByClassName( 'growth__progress' )[ 0 ].style.background="url('/images/tree3.jpg')";
                                        console.log( 'tree3' )

                              }
                              else if ( seconds<=fourth&&seconds>=fifth )
                              {
                                        document.getElementsByClassName( 'growth__progress' )[ 0 ].style.background="url('/images/tree3.jpg')";
                                        console.log( 'tree3' )

                              }
                              else if ( seconds<fifth ) 
                              {
                                        document.getElementsByClassName( 'growth__progress' )[ 0 ].style.background="url('/images/tree4.jpg')";
                                        console.log( 'tree4' );
                              }
                              else if ( seconds==0 )
                              {
                                        stopCount();
                              }
                              if ( seconds==46 )
                              {
                                        audio=new Audio( 'https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3' );
                                        audio.play();
                                        console.log( 'now playing the music' )
                              }
                    }, 1000 );
          }
          let counter=0;
          //let timeout;
          let timer_on=0;

          let seconds=parseInt( window.location.href.split( '?' )[ 1 ].split( '=' )[ 1 ] );
          // alert( "Time : "+seconds )
          seconds=seconds*60
          let seconds2=seconds;
          second=seconds/5;
          third=seconds-( ( seconds/100 )*10 );
          fourth=seconds-( ( seconds/100 )*20 );
          fifth=seconds-( ( seconds/100 )*50 );
          sisxth=seconds-( ( seconds/100 )*90 );
          console.log( third )
          console.log( fourth )
          console.log( fifth )
          console.log( sisxth )

          //countdown(seconds);
          function startCount ()
          {
                    if ( !timer_on )
                    {
                              timer_on=1;
                              countdown( seconds );
                    }
          }
          function stopCount ()
          {
                    clearInterval( timeout );
                    console.log( 'stop called' )
                    timer_on=0;
                    audio.pause();
          }

</script>

</html>